body {
  padding-top: 65px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}







.thumbnail { 
	margin: 0px;
	padding: 1px;
	padding-bottom: 0px;
	width: 221px;
	margin-bottom: 0px;
	opacity: 0.9;
}
.thumbnail:hover { 
	opacity: 1.0;
	-webkit-filter: brightness(120%); /* Chrome, Safari, Opera */
	filter: brightness(120%);
}
.caption {
	height: 37px;
	padding:0px;
	margin:0px;
	width: 221px;        
	bottom: 0px;
	position: absolute;
	background:#000;
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.8) 30%, rgba(0, 0, 0, 0) 90%) 
		repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -moz-linear-gradient(bottom, rgba(0,0,0,0.8) 30%, rgba(0, 0, 0, 0) 90%) 
		repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(bottom, rgba(0,0,0,0.8) 30%, rgba(0, 0, 0, 0) 90%) 
		repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(to top, rgba(0,0,0,0.8) 30%, rgba(0, 0, 0, 0) 90%) 
		repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.caption_q {
	padding:0px;
	padding-left:3px;
	padding-right:2px;
	margin:0px;
	font-size:0.75em;
	top:8px;
	right:13px;
	border-radius:2px;
	position:absolute;
	background:rgba(0,0,0,0.6);        
}

.caption_hd {
	padding:0px;
	padding-left:3px;
	padding-right:2px;
	margin:0px;
	font-size:0.75em;
	top:2px;
	height: 25px;
	width: 25px;
	right:8px;
	border-radius:5px;
	position:absolute;
	background-image: url("/imgs/HD3.png");
	background-size: 25px 25px;
	background-repeat: no-repeat;
	opacity: 0.6;
}

.thumbnails {
	border: 0 none;
	box-shadow: none;
	margin:0;
	padding:0;
}

.caption h4 {
	color: #fff;
	-webkit-font-smoothing: antialiased;        
	font-size: 0.80em;
}

/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 180px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 180px;
	clear:both;} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

footer.nb-footer {
margin-bottom: 0px;
margin-top: 90px;
background: #222;
border-top: 4px solid #FF0046; }
footer.nb-footer .about {
margin: 0 auto;
margin-top: 40px;
max-width: 1170px;
text-align: center; }
footer.nb-footer .about p {
font-size: 13px;
color: #999;
margin-top: 30px; }
footer.nb-footer .about .social-media {
margin-top: 15px; }
footer.nb-footer .about .social-media ul li a {
display: inline-block;
width: 45px;
height: 45px;
line-height: 45px;
border-radius: 50%;
font-size: 16px;
color: #b78c33;
border: 1px solid rgba(255, 255, 255, 0.3); }
footer.nb-footer .about .social-media ul li a:hover {
background: #FF0046;
color: #fff;
border-color: #FF0046; }
footer.nb-footer .footer-info-single {
margin-top: 30px; }
footer.nb-footer .footer-info-single .title {
color: #aaa;
text-transform: uppercase;
font-size: 16px;
border-left: 4px solid #FF0046;
padding-left: 5px; }
footer.nb-footer .footer-info-single ul li a {
display: block;
color: #aaa;
padding: 2px 0; }
footer.nb-footer .footer-info-single ul li a:hover {
color: #b78c33; }
footer.nb-footer .footer-info-single p {
font-size: 13px;
line-height: 20px;
color: #aaa; }
footer.nb-footer .copyright {
margin-top: 15px;
background: #111;
padding: 7px 0;
color: #999; }
footer.nb-footer .copyright p {
margin: 0;
padding: 0; }