{% extends "base.html" %}
{% block title %}MyPage{% endblock %}
{% set active_page = "actors" %}
{% block content %}
	<h4>{{ headline }}</h4>
	
	<!--
	<ul>
	<li><a href="/videos">/videos</a>
	<li><a href="/categories">/categories</a>
	<li><a href="/channels">/channels</a>
	<li><a href="/actors">/actors</a>
	<li><a href="/search">/search</a>
	</ul>-->
	
	<div class="row">
		<div class="col-md-12 col-md-offset-0 list-group">
			{% for actor in hash['actors']  | slice(6) %}
			<div class="col-md-2">
			<ul>
			{% for a in actor %}
			<a href="#" class="list-group-item list-group-item-action active" style="margin-bottom: 15px">
				<h5 class="list-group-item-heading">{{ a }}</h5>
				<p class="list-group-item-text" style="font-size: 0.8em">Donec id elit non mi porta gravida at eget metus.</p>
			</a>
			
			{% endfor %}
			</ul>
			</div>
			{% endfor %}
		</div>
	</div>
		
{% endblock %}