{% extends "base.html" %}
{% block title %}MyPage{% endblock %}

{% block content %}
	<h4>{{ headline }}</h4>
	
	<!--
	<ul>
	<li><a href="/videos">/videos</a>
	<li><a href="/categories">/categories</a>
	<li><a href="/channels">/channels</a>
	<li><a href="/actors">/actors</a>
	<li><a href="/search">/search</a>
	</ul>-->
	
	<div class="row">
	
		<div class="col-md-12 col-md-offset-1">
	  {%- for j in range(0,180) | slice(6) %}
		<div class="col-md-2">
		<ul style="list-style: none">
		{%- for k in j %}
		  <li><a href="#">{{ k }}</a></li>
		{%- endfor %}
		</ul>
		</div>
	  {%- endfor %}
	</div>
	</div>
		
{% endblock %}