{% extends "base.html" %}
{% block title %}MyPage{% endblock %}

{% block content %}
	<h4>{{ hash['headline'] }}</h4>
	
	<!--
	<ul>
	<li><a href="/videos">/videos</a>
	<li><a href="/categories">/categories</a>
	<li><a href="/channels">/channels</a>
	<li><a href="/actors">/actors</a>
	<li><a href="/search">/search</a>
	</ul>-->
	
	<div class="row">
		<div class="col-md-12 col-md-offset-1">
			{% for channel in hash['channels']  | slice(4) %}
			<div class="col-md-3">
			<ul>
			{% for c in channel %}
			<li><a href="#">{{ c }}</a></li>
			
			{% endfor %}
			</ul>
			</div>
			{% endfor %}
		</div>
	</div>
		
{% endblock %}