{% extends "base.html" %}
{% block title %}MyPage{% endblock %}

{% block content %}
	
	
	<!--
	<ul>
	<li><a href="/videos">/videos</a>
	<li><a href="/categories">/categories</a>
	<li><a href="/channels">/channels</a>
	<li><a href="/actors">/actors</a>
	<li><a href="/search">/search</a>
	</ul>-->
	
	<div class="row" id="main">
	        
		<div class="col-md-12" style="margin-bottom: 5px">
              <ul class="small-inline-menu">
				{% for st in subtitles %}
					{% if st.lower().replace(" ", "-") == subpage %}
						<li class="active"><a href="/videos/{{ st.replace(" ", "-") | lower }}">{{ st }}</a></li>
					{% else %}
						<li><a href="/videos/{{ st.replace(" ", "-") | lower }}">{{ st }}</a></li>
					{% endif %}
				{% endfor %}
              </ul>
		</div>
			
		{% for i in range(0,20) %}
		<div class="col-md-3 thumb" style="width: 220px">
			<div class="col-sm-12 thumbnail text-left">                
				<a href="/video/{{ i + 1 }}">                    
					<img class="img-responsive" src="https://placehold.it/640x360" alt="">
					<div class="caption_hd">        
					</div>
					<div class="caption">
						<h4>Lorem ipsum dolor sit amet, consectetur</h4>
					</div>
				</a>
			</div>
		</div>  
		{% endfor %}
	
		<div class="" style="text-align: center">
			  <ul class="pagination pagination-sm" style="margin-top: 20px">
				  {% if page == 1 %}
				  <li class="disabled"><a href="#">Prev</a></li>
				  {% else %}
				  <li><a href="{{ page - 1 }}">Prev</a></li>
				  {% endif %}
				  {% for i in range(page,page+7) %}
					  {% if i == page %}
					  <li class="active"><a href="/{{i}}">{{ i }}</a></li>
					  {% else %}
					  <li><a href="/{{i}}">{{ i }}</a></li>
					  {% endif %}
				  {% endfor %}
				  <li><a href="/{{page + 10}}">...</a></li>
				  <li><a href="/{{ page + 15 }}">{{ page + 15 }}</a></li>
				  {% for i in range(page+20,page+22) %}
				      <li><a href="/{{i}}">{{i}}</a></li>
				  {% endfor %}
				  <li><a href="/{{page + 1 }}">Next</a></li>
              </ul>
		</div>
		
</div>
{% endblock %}